{% extends 'HETICAppBundle::template.html.twig' %}

{% block title %} {{parent()}} - Confirmation Paiement Options Relais {% endblock title %}

{% block main %}
<main id="cart">
    <div class="container">
        <div class="row">
            <div style="text-align:center;margin-top:45px;" class="col-sm-12">
                <h1>- Confirmation de Paiement Options Relais -</h1>
                <br>
                <p style="font-size:1.4em;">Bonjour <b>Luc Marie</b>,
                Nous vous confirmons la récéption de votre commande pour un montant de <b>28.95€</b> <br>
                Vous pouvez récuperer votre colis au point relais suivant : <b>TABAC LE BALZAC 3 Rue de Paris, Montreuil</b> dans <b>15</b> minutes.<br> 
                Nous vous remercions de la confiance que vous porté à notre service.
<br>
<br>
                A bientôt !                 
                </p>
                
            </div>
        </div>
    </div>
</main>

{% endblock main %}
