{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<main id="login">
		{% include "FOSUserBundle:Registration:register_content.html.twig" %}
	</main>
{% endblock fos_user_content %}
