{% extends 'HETICAppBundle::template.html.twig' %}

{% block title %} {{parent()}} - Options Relais {% endblock title %}

{% block main %}
<main id="cart">
    <div class="container">
        <div class="row">
            <div style="text-align:center;margin-top:45px;" class="col-sm-12">
                <h1>- Options de point Relais -</h1>
                <br>
                <p style="font-size:1.4em;">Bonjour <b>Luc Marie</b>,
<p>Pour des raisons de sécurité, le colis ne sera remis qu'à la personne désignée lors du passage de commande et sur présentation d'une pièce d'identité valide avec photo.</p><br>
<p>Si la personne initialement désignée ne peut se déplacer pour aller chercher le colis, il lui sera possible de mandater une tierce personne pour retirer son colis à sa place, en lui remettant une photocopie de sa pièce d'identité ainsi qu'une attestation signée par elle.</p>
                <p>
                    Vous pourrez récuperer votre colis au point relais suivant : <p><b>TABAC LE BALZAC 3 Rue de Paris, Montreuil</b> pour un montant de : <b>28€95</b></p>
                </p>
                
                 A bientôt !<br>
                
                <a href="{{path('hetic_app_confirm')}}"><input class="submitadresse" type="submit" name="pointrelais" id="pointrelais" value="Procéder au paiement" /></a>
<br>

                                
                </p>
                
            </div>
        </div>
    </div>
</main>

{% endblock main %}
